<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livros Lidos</title>
    <link rel="stylesheet" href="..//static//quartoStyle.css">
</head>
<body>
    <div class="salvarLivros">
        <h1>Cadastrar livros</h1>
    </div>

     <div class="cad_livros">
         <h1>Cadastre os seus livros que você já leu!!</h1>
         <br>
            <form action="/cad_livros" method="post">

                <label for="titulo">Título:  </label>
                <input type="text" id="titulo" name="titulo">
                <br>

                <br>
                <label for="autor">Autor(a):  </label>
                <input type="text" id="autor" name="autor">
                <br>

                <br>
                <label for="editora">Editora:  </label>
                <input type="text" id="editora" name="editora">
                <br>

                <br>
                <button type="submit">Enviar</button>
            </form>
     </div>
    <img src="../static//Lapis.png" alt="Lapis" class="lapis">

    <div class="ler">
        <h1>Conheça os Benefícios da Leitura</h1>
        <br>
        <p>A leitura é uma ferramenta poderosa que pode transformar nossa vida. Ao abrir um livro, podemos nos transportar para
            novos mundos, conhecer pessoas e culturas diferentes e aprender coisas novas. A leitura nos permite desenvolver nossa
            imaginação, nossa criatividade e nossa capacidade de pensamento crítico. Além disso, a leitura pode ser uma fonte de
            prazer e relaxamento, ajudando-nos a reduzir o estresse e a ansiedade.</p>
    </div>

    <div class="voltar">
        <a href="/">Sair</a>
    </div>
</body>
</html>